<div th:fragment="navbar">
	
	
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand font-weight-bold" href="/">&nbsp;<img
			src="images/coronavirus-cells-logo.svg" width="65" height="55"
			class="d-inline-block align-top bg-light rounded" alt=""
			loading="lazy">&nbsp;&nbsp;<span class="name">CVTA</span><small
			class="text-muted font-weight-lighter font-italic">&nbsp;&nbsp;by
				HD</small></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
				<li class="nav-item px-5 name2"><a class="nav-link" href="/">Home
				</a></li>
				<li class="nav-item px-5 name2  text-nowrap"><a class="nav-link"
					href="/covid19">What is COVID-19</a></li>
				<li class="nav-item px-5 name2"><a class="nav-link"
					href="/about">About</a></li>
			</ul>
  </div>
</nav>
</div>
